@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato:400,700&display=swap');
@import 'normalize';
@import 'mixins';

* {
	box-sizing: border-box;
}

html {
	font: 10px/1.6 'Lato', 'Fjalla One', 'Open Sans', sans-serif;
	height: 100%;
}

body {
	font-size: 1.6rem;
	color: #333;
	min-height: 100%;
	background-color: #fcdd7e;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.cup {
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
	justify-content: center;
	width: 30%;
	min-height: 400px;
	height: 50%;
	border-radius: 5px;
	padding: 30px;
	@include hover {
		min-height: 550px;
		height: 65%;
		 box-shadow:
    		1px 1px #02995b,
    		2px 2px #02995b,
   			3px 3px #02995b,
    		4px 4px #02995b,
    		5px 5px #02995b,
    		6px 6px #02995b,
    		7px 7px #02995b;
  		-webkit-transform: translateX(-7px);
  		transform: translateX(-7px);
	}
	&__price {
		color: #02995b;
		font-family:'Fjalla One';
		font-size: 5rem;
		font-weight: 700;
		margin: 5px auto;
	}
	&__img {
		margin: 10px auto;
		// min-height: 150px;
	}
	&__title {
		font-size: 4rem;
		font-weight: 700;
		margin: 10px auto;
	}
	&__article {
		font-family: 'Lato';
		font-size: 2rem;

	}
}



